.c-book {
  box-shadow: $box-shadow;
  background: white;
  border-radius: 2px;
  @include flexbox-width(31%);
  margin: 1%;
}

.c-book__cover {
  overflow: hidden;
  height: 300px;
  position: relative;
  background-color: $grey-lightest;
}

.c-book__cover-img {
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.c-book__title {
  margin-top: 0;
}

@media (max-width: 800px) {
  .c-book {
    @include flexbox-width(48%);
  }
}

@media (max-width: 600px) {
  .c-book {
    @include flexbox-width(100%);
  }
}